
#musica1{
    background-color:rgb(0, 112, 218)

}
#primeiro{
    color:rgb(240, 0, 0)

}
#musica2{
    background-color:antiquewhite
}
#segundo{
    color:chocolate

}
#musica3{
    background-color:rgb(214, 107, 107)

}
#terceiro{
    color:darkolivegreen

}
#musica4{
    background-color:aqua

}
#quarto{
    color:darkcyan
    
}
#musica5{
    background-color:rgb(189, 240, 8)

}
#quinto{
    color:cornflowerblue

}


